<!DOCTYPE html>
<html>
<head>
  <title>Upvote.Guru</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="header">
      <ul class="nav nav-pills pull-right">
        <% action = controller.action_name %>
        <li class="<%= 'active' if action=='index' %>"><%= link_to 'Home', root_path %></li>
        <li class="<%= 'active' if action=='new' || action=='create' %>"><%= link_to 'New Post', new_post_path %></li>
      </ul>
      <h3 class="text-muted">Upvote.Guru</h3>
    </div>
    <br />

    <% if flash[:notice].present? %>
      <div class="panel panel-info">
        <div class="panel-heading">
          <%= flash[:notice] %>
        </div>
      </div>
    <% end %>

    <%= yield %>

  </div>
</body>
</html>
